/data/uniprot_sprot.fasta
/data/uniprot_sprot.fasta.*
/data/MSTN.fasta
.env
zatsu_cwl_bioinformatics/uniprot_sprot.fasta
zatsu_cwl_bioinformatics/uniprot_sprot.fasta.*
zatsu_cwl_bioinformatics/MSTN.fasta

